
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body{
    background-color: #edf1f9;
}
html{
    scroll-behavior: smooth;
}

/* Nav Is Starting From Here */
nav {
    height: 40px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
}

.logo {
    margin-left: 20px;
    margin-top: 5px;
    height: 50px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(11, 92, 158);
    position: relative;    
}
nav ul li a::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: rgba(11, 92, 158);
    top: 17.5px;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul li a:hover::before{
    width: 100%;
}

.btn {
    margin-right: 10px;
}
.btn button {
    padding: 4px 20px;
    background-color: rgb(11, 92, 158);
    border: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 0.07rem;
    cursor: pointer;
    transition: 0.5s;
    padding: 6px 10px;
}
.btn button:hover{
    scale: 1.14;
}
.mobile-nav{
    display: none;
}
.mobile {
    display: none;
}
/* Nav is Ending Here */


/* Home Is Starting From Here */

.conteiner-1{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.home-content{
    flex: 1;
}

.home .hlw {
    /* padding-top: 150px; */
    margin-left: 150px;
    color: rgb(8, 73, 126);
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}
.home h1 {
    margin-left: 150px;
    color:  rgb(8, 73, 126);
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}
.home h4 {
    margin-left: 150px;
    margin-top: 5px;
    color: rgb(8, 73, 126);
    letter-spacing: 0.05rem;
}
.home .intro {
    margin-left: 150px;
    margin-top: 15px;
    color: rgb(11, 92, 158);
    letter-spacing: 0.1rem;
}
.home .btn-cv {
    margin-left: 150px;
    margin-top: 30px;
}
.home .btn-cv .btn-1{
    transition: 0.5s;
    padding: 8px;
}
.home .btn-cv .btn-1:hover {
    scale: 1.1;
}
.home .btn-cv .btn-2 {
    background-color: transparent;
    color: rgb(8, 73, 126);
    border: 1px solid rgb(8, 73, 126);
    margin-left: 10px;
    transition: 0.4s;
    padding: 8px 16px;
}
.home .btn-cv .btn-2:hover {
    background-color: #08497e;
    color: white;
}
.img-1{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.img-1 img {
    max-height: 80vh; /* or 100% */
    width: auto;
    max-width: 100%;
    object-fit: contain;
}
/* Home Is End Here */

/* About Is Starting In Here */
.container-2 {
    min-height: 70vh;
}
.about {
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */
    position: relative;
}
.name-2 {
    color: #08497e;
}
.about-details {
    flex: 1;
    margin-left: 0px;
    margin-top: 100px;
}
.img-2{
    margin-left: 80px;
    margin-top: 65px;
}
.img-2 img {
    height: 500px;
    width: auto;
}
.aero {
    position: absolute;
    top: 0;
    left: 300px;
    rotate: -40deg;
}
.aero img {
    height: 200px;
    width: auto;
}
.skill-about {
    display: flex;
    flex-direction: column;
    /* margin-left: 100px; */
    align-items: center;
    justify-content: center;
}

/* Skills Section Is Starting In Here  */
.container-3 {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: rgba(121, 94, 94, 0.542);
    border-radius: 10px;
}
.text {
    color: rgb(8, 73, 126);
    font-size: 2.2rem;
    letter-spacing: 0.05rem;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.skills-html{
    padding: 10px;
}
.html {
    color: seashell;
    /* font-weight: bold; */
    padding-bottom: 2px;
}
.skills-bar {
    height: 14px;
    width: 400px;
    background-color: rgba(238, 221, 221, 0.641);
    border-radius: 4px;
}
.skills-per {
    height: 100%;
    width: 100%;
    background-color: rgb(8, 73, 126);
    border-radius: 4px;
    animation: fillbar 2s ease-in-out forwards;
    position: relative;
}
@keyframes fillbar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.skills-per::before{
    content: attr(per);
    position: absolute;
    right: 0;
    top: -30px;
    height: 100%;
    width: 30px;
    padding: 3px;
    border-radius: 4px;
    background-color: rgb(8, 73, 126);
    transform: translateX(50%);
    color: rgba(255, 255, 255, 0.752);
}
.skills-per::after{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: rgb(8, 73, 126);
    right: 0;
    top: -14px;
    border-radius: 2px;
    transform: translateX(50%) rotate(45deg);
    z-index: -1;
}
/* Skills Section Is Starting In Here  */

/* Project  */
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}
.container-5 h1 {
    color: #08497e;
    text-align: center;
    margin-top: 20px;
}
.projects{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    /* overflow: hidden; */
    position: relative;
}
.card::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%,rgb(255, 1, 1) );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 8s spin linear infinite;
}
.card img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* border: 5px solid rgb(111, 7, 120); */
}
.card div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    border-radius: 10px;
    color: white;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    text-align: center;
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
}
.card:hover .pro-details {
    height: 100%;
}


.pro-details {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-details h5, p, i {
    margin: 5px;
    margin-bottom: 15px;
}
.pro-details p {
    font-size: 0.8rem;
}
.pro-details a {
    height: 40px;
    width: 40px;
    background-color: #edf1f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    transition: 0.5s;
}
.pro-details a:hover {
    scale: 1.2;
}
.pro-details a i {
    margin-bottom: 5px;
}












@keyframes spin {
    from{
        --angle : 0deg;
    }to {
        --angle : 360deg;
    }
}



/* Contact  */
.container-6 {
    height: 80vh;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}
.contact-text {
    font-size: 2rem;
    color: rgb(8, 73, 126);
    margin-left: 150px;
    padding-bottom: 30px;
    font-weight: bold;
}
.mail {
    color: rgb(11, 92, 158);
    margin-left: 150px;
    padding-bottom: 10px;
}
.fa-solid {
    color: rgb(8, 73, 126);
    margin-right: 5px;
    transition: 0.5s;
    scale: 1.08;
}
.fa-solid:hover {
    transform: scale(1.2);
}
.s-icon {
    margin-left: 150px;
    padding-top: 30px;
    /* gap: 10px; */
}
.fa-brands {
    color: rgb(8, 73, 126);
    font-size: 1.3rem;
    margin-right: 10px;
    transition: 0.5s;
}
.fa-brands:hover{
    transform: scale(1.2);
}
.btn-4 {
    margin-left: 150px;
    padding-top: 30px;
}
.btn-4 button {
    padding: 7px 20px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form {
    height: 50px;
    width: 500px;
    /* background-color: sandybrown; */
    position: relative;

}
.email-input {
    height: 80%;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
    border: 2px solid rgb(8, 73, 126);
    border-radius: 5px;
    cursor: text;
    transition: 0.3s;
    padding: 10px;
}
.email-input:hover{
    border-color: rgba(0, 140, 255, 0.779);
}
.email-input:focus {
    border-color: rgb(20, 249, 69);
}
.email-label {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 5px;
    cursor: text;
    transition: 0.4s;
}
.email-input:focus ~ .email-label{
    /* position: absolute; */
    font-size: 0.85rem;
    top: -8px;
    padding: 1px;
    background-color: #edf1f9;
}

.email-input:not(:placeholder-shown).email-input:not(:focus) ~ .email-label {
    font-size: 0.9rem;
    top: -8px;
    padding: 1px;
    background-color: #edf1f9;
}
.form textarea{
    height: 100px;
}
.btn-5 {
    margin-top: 60px;
}

/* Footer Is Starting In Here */
footer {
    background-color: rgb(8, 73, 126);
    color: white;
    padding: 20px 0;
}
.footer-text {
    text-align: center;
    font-size: 0.9rem;
}